
.task {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 400px;
    min-height: 300px;

}

.task__item {
    .item__h1, .item__h2, .item__h3 {
        color:  brown;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    
    .item__h1 {
        font-size: 28px;
        line-height: 3em;
    }
    
    
    .item__h2 {
        font-size: 24px;
        line-height: 1.5em;
    }
    
    .item__h3 {
        font-size: 18px;
        line-height: 1.5em;
    }
    

}

.task__button {
    max-width: 550px;
    height: 50px;
    font-size: 20px;
    height: 40px;
    margin-top: 50px;
}


.box { 
    text-align: center; 
    background-color: #eeeeee; 
}
.centered { 
    display: inline-block; 
    margin: 0; 
}
.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse; 
}
.chess-board th { 
    padding: .5em; 
}
.chess-board td { 
    border: 1px solid; 
    width: 5em; 
    height: 5em; 
    text-align: center; 
    vertical-align: middle; 
}

.chess-board .white { 
    background: #f0d9b5; 
}
.chess-board .black { 
    background: #b58863; 
}


